body{
	background-color: #FDF5F4;
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}
.display-5{
	text-align: center;
}
.navbar-custom{
	background: #EE6457;
}
.nav-link{
  font-size: 1rem;
}
.btn{
	background: #EE6457;
}
input{
	background-color: #FDF5F4;
}

a{
	color:#EE6457;
}
a:hover{
	color:#85E3FF;
}
section{
	padding-bottom: 15vw;
	overflow-x: hidden;
}
a .btn{
	background-color: white;
}
#joinus{
  background-color:#F9C4BA;
}

div{
	overflow-x: hidden;
}
.card{
	border-radius: 1.5rem;
	overflow-y: hidden;
}
.card-img-top{
	border-radius: 1.5rem 1.5rem 0 0;
}
.card-body{
	overflow-y: hidden;
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  background-color: #F9C4BA;
  border: 0; /* Gray border */
  border-bottom: 2px solid #EE6457;
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=email], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  background-color: #F9C4BA;
  border: 0; /* Gray border */
  border-bottom: 2px solid #EE6457;
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

./*container {
  border-radius: 5px;
  background-color: #F9C4BA;
  padding: 20px;
}*/
input[type=submit] {
  background-color: #EE6457;
  color: white;
  margin-top: 3rem;
  padding: 5px 10px;
  border:none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0.5px 0.5px #000;
}

@media screen and (max-width:1200px){
    form{
        padding-right: 50px;
    }
}
.btn-google i{  
    border-radius: 50%;
    height:54px;
    width:54px;
    line-height: 54px;
    background-color: #EE6457;
    color: #fabf2c;
}

body{margin-top:20px;}

.content-item {
    padding:30px 0;
  background-color:#FFFFFF;
}

.content-item.grey {
  background-color:#F0F0F0;
  padding:50px 0;
  height:100%;
}

.content-item h2 {
  font-weight:700;
  font-size:35px;
  line-height:45px;
  text-transform:uppercase;
  margin:20px 0;
}

.content-item h3 {
  font-weight:400;
  font-size:20px;
  color:#555555;
  margin:10px 0 15px;
  padding:0;
}

.content-headline {
  height:1px;
  text-align:center;
  margin:20px 0 70px;
}

.content-headline h2 {
  background-color:#FFFFFF;
  display:inline-block;
  margin:-20px auto 0;
  padding:0 20px;
}

.grey .content-headline h2 {
  background-color:#F0F0F0;
}

.content-headline h3 {
  font-size:14px;
  color:#AAAAAA;
  display:block;
}


#comments {
  
  background-color: #FDF5F4;;
}

#comments form {
  margin-bottom:30px;
}

#comments .btn {
  margin-top:7px;
}

#comments form fieldset {
  clear:both;
}

#comments form textarea {
  height:100px;
}

#comments .media {
  border-top:1px dashed #DDDDDD;
  padding:20px 0;
  margin:0;
}

#comments .media > .pull-left {
    margin-right:20px;
}

#comments .media img {
  max-width:100px;
}

#comments .media h4 {
  margin:0 0 10px;
}

#comments .media h4 span {
  font-size:14px;
  float:right;
  color:#999999;
}

#comments .media p {
  margin-bottom:15px;
  text-align:justify;
}

#comments .media-detail {
  margin:0;
}

#comments .media-detail li {
  color:#AAAAAA;
  font-size:12px;
  padding-right: 10px;
  font-weight:600;
}

#comments .media-detail a:hover {
  text-decoration:underline;
}

#comments .media-detail li:last-child {
  padding-right:0;
}

#comments .media-detail li i {
  color:#666666;
  font-size:15px;
  margin-right:10px;
}
.display-4{
  color:#EE6457;
}